*{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    background-color: whitesmoke;
}

.container{
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    border: 1em solid rgb(98, 98, 133);
    background-color: white;
    /* text-align: center; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img{
    display: block;
    
}

.btn{
    margin: 2em;
}
button{
    background-color: rgb(173, 168, 163);
    border-radius: 0.5rem;   
    font-size: 2.5rem;
    margin: 0.3em;
}
button:hover{
    background-color: rgb(39, 194, 125);
    color: red;
    cursor: pointer;
}
.hidden{
    display: none;
}
.view{
    display: block;
}
h1{
    text-align: center;
    color: violet;
    font-size: 8rem;
}

.pressed{
    background-color: rgb(29, 176, 164);
    
}
@media(max-width:850px){
    h1{
        font-size: 40px;
    }
}
@media(max-width:539px){
    button{
       margin: 0 ;
    }
}
@media(max-width:483px){
    button{
        margin: 5px 33px;
    }
    .container{
        height: 52%;
    }
}