*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font: 62.5%;
}
body{
    background-image: linear-gradient(to right, grey, wheat);
}
h1{
    margin-left: 29vw;
    padding-top: 3rem;
    
}
.structure{
    border-radius: 30px;
    background-color: black;
    position: relative;
    margin-top: 3vh;
    left: 30%;
    height: 82vh;
    width: 35vw;
    border: 2px solid black;
}
.row{
    margin: 0 0.5rem;
}
button{
    background-color: rgb(197, 193, 193);
    border-radius: 10px;
    height: 73px;
    width: 116px;
    font-size: 2rem;
    margin: 5px;
    padding: 10px;
}
button:hover{
    /* background-color: rgb(239, 222, 192); */
    background-color: whitesmoke;
}
.screen{
    height: 7.2rem;
    width: 95%;
    background-color: rgb(222, 216, 216);
    margin: 1.5rem 0.8rem;
    border-radius: 30px;

}
.display{
    text-align: right;
    font-size: 2rem;
    color: blue;
    padding: 4rem 2rem;

}

@media screen and (max-width:1500px){
    .structure{
        height: 45vh;
        width: 35vw;
        position: relative;
        left: 30%;
}
.row{
  margin-left: 1rem;
}
button{
    font-size: 1.4rem;
    width: 22%;
    height: 100px;
}
.screen{
  height: 8.5rem;
  margin: 2rem 1rem;
}
h1{
    margin-left: 30%;
}

    

@media screen and (max-width:1350px){
    .structure{
        height: 38vh;
        width: 90%;
        position: relative;
        left: 5%;
}
.row{
    margin-left: 0.8rem;
}
button{
    font-size: 1.4rem;
    width: 21%;
    height: 10%;
}
.screen{
  height: 5rem;
  margin: 1.5rem 1rem;
}
h1{
    margin-left: 5vw;
}
.display{
    text-align: right;
    font-size: 2rem;
    color: blue;
    padding: 2rem 2rem;

}
}

@media screen and (max-width:400px){
    .structure{
        height: 71vh;
        width: 90%;
        position: relative;
        left: 5%;
}
.row{
    margin-left: 0.8rem;
}
button{
    font-size: 1.4rem;
    width: 19%;
    height: 10%;
}
.screen{
  height: 5rem;
  margin: 1.5rem 0.4rem;
}
h1{
    margin-left: 5vw;
}
 .display{
    text-align: right;
    font-size: 2rem;
    color: blue;
    padding: 2rem 2rem;

}
}


