body {
    background-color: antiquewhite;
}

.container {
    width: 50%;
    border: 2px solid white;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 10% 25%;
}


a {
    font-size: 20px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 50%;
    border: 2px solid rgb(161, 137, 137);
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 30px;
}
a:hover{
    background-color: antiquewhite;
}
@media(max-width:850px){
    a{
        font-size: 18px;
    }
    .container{
        margin: 18% 25%;
    }
}
@media(max-width:425px){
    a{
        font-size: 16px;
    }
}